.login-cont {
  height: 100vh;
  background-color: #044a75;
  .card-cont {
    width: 500px;
    padding: 0px;
  }
  .header {
    padding: 25px 15px;
    font-size: 26px;
    font-weight: bold;
    color: #044a75;
  }
  .fields {
    padding: 45px;
  }
}