.container {
  padding: 30px;
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  .header {
    border-bottom: solid 1px #dfdfdf;
    padding: 15px 10px;
  }
  .table-cont {
    width: 800px;
  }
  .users-table {
    width: 100%;
  }
}