.container {
    height: 80vh;
}
.img-cont {
    padding: 20px 10px;
    text-align: center;
}
.img {
    border: solid 1.5px grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    padding-bottom: 0;
}