<div fxLayout="column" fxLayoutGap="25px">
  <div fxLayout="row" fxLayoutAlign="space-around" class="container">
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
      <div fxFlex="350px" fxLayoutAlign="center" class="img-cont" routerLink="/editor/basic/1">
        <img src="assets/img/basic.PNG" width="350px" height="350px" class="img">
      </div>
      <div fxFlex="340px" fxLayoutAlign="center" class="img-cont" routerLink="/editor/basic/2">
        <img src="assets/img/basic2.PNG" width="350px" height="350px" class="img">
      </div>
      <div fxFlex="340px" fxLayoutAlign="center" class="img-cont" routerLink="/editor/basic/3">
        <img src="assets/img/basic.PNG" width="350px" height="350px" class="img">
      </div>
    </div>
  </div>
</div>