<div class="preview-container">
    <div *ngFor="let section of template; let i=index;">
        <ng-container dynamicElement [section]="section" [i]="i" [editing]="false">
        </ng-container>
    </div>
</div>
<div *ngIf="!hideBtn">
    <button (click)="generateTemplate()" mat-raised-button color="primary" class="generate-btn" [disabled]="showLoader">
        <fa name="download"></fa>Generate Template
    </button>
    <div *ngIf="showLoader" class="loader">
        <p>Template download is in progress...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>